<%- include('partials/head')%>
<body>
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center ">
        <h3 class="txtBlue p-5 mt-5 text-center" >Error 404 - ruta inválida</h3>
    </div>
</body>
</html>