<%- include('partials/head')%>
<body>
    <nav class="navbar bg-dark blueShadow">
        <div class="container-fluid">
          <p class="navbar-brand txtBlue">Tu Ecommerce</p>
          <a href="/login" class="btn btn-primary">LogIn</a>
        </div>
    </nav>
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center ">
        <h3 class="txtBlue p-5  text-center" >Proyecto eCommerce en construcción <br> Entrega Nº 3</h3>
        <p class="txtBlue text-center">Proyecto con vistas de acceso a login y registro productos y carrito (ruta admin sin vista)<br></p>
    </div>
</body>
</html>