<%- include('partials/head')%>
<body>
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center p-5 mt-5">
      <h3 class="txtBlue">Login error</h3>
      <!-- <p class="txtBlue">Usuario no registrado</p> -->
    </div>
    <script>
        setTimeout(()=>{
            window.location.href ='/login'
        },2000)
    </script>
</body>
</html>