<%- include('partials/head')%>
<body>
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center p-5 mt-5">
        <h3 class="txtBlue">Error de registro</h3>
    </div>
    <script>
        setTimeout(()=>{
            window.location.href ='/register'
        },2000)
    </script>
</body>
</html>