<%- include('partials/head')%>
<body>
    <div class="register container-fluid d-flex flex-column align-items-center justify-content-center py-5 ">
        <h1 class="txtBlue mb-5">Registro Usuario</h1>
        <form action="/register" method="post" class="regform" enctype="multipart/form-data">
            <div class="form-group">
                <input type="email" name='email' class="form-control mb-3 text-center" placeholder="Email" required>
                <input type="password" name="password" class="form-control mb-3 text-center" autocomplete="false" placeholder="Contraseña" required>
            </div>
            <div>
                <input type="text" name="name" class="form-control mb-3 text-center" placeholder="Nombre" required>
                <input type="text" name="age" class="form-control mb-3 text-center" placeholder="Edad" required>
            
                <label id="error-msg" class="hide"style="color: cyan;"></label>
                <div class="d-flex justify-content-center align-items-center">
                    <input type="tel" id="phone" class="form-control mb-3 text-center" required>
                    <span for="phone" id="valid-msg" class="hide ms-2 mb-2" style="color: cyan;">✓</span>
                </div>                
                
                <input type="text" name="address" class="form-control mb-3 text-center" placeholder="Dirección" required>
                <label for="avatar" class="txtBlue mb-2 ">Imagen de perfil</label>
                <input type="file" class="mb-5 form-control"  name="avatar" value ="Imagen de Perfil">
            </div>
            <div class="pd-telephone-input">

            </div>
            <button  class="btn btn-primary">SignUp</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.16/js/intlTelInput.js"></script>
    <script>
        const phoneInputField = document.querySelector("#phone"); 
        const phoneInput = window.intlTelInput(phoneInputField, { 
            utilsScript:"https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.16/js/utils.js",
            preferredCountries:["cl", "ar", "co"],
            hiddenInput:"full_phone",
            nationalMode:false,
        });
        //cambiar full_phone de new user en passpot por phone para probar con postman

        let input = document.querySelector("#phone"),
          errorMsg = document.querySelector("#error-msg"),
          validMsg = document.querySelector("#valid-msg");
            
        //mapeo de errores
        let errorMap = ["Número Inválido", "Código de País inválido", "Número incompleto", "Número demasiado extenso", "Número Inválido"];
            
        
        let reset = function() {
          input.classList.remove("error");
          errorMsg.innerHTML = "";
          errorMsg.classList.add("hide");
          validMsg.classList.add("hide");
        };
        
        //validar input
        input.addEventListener('blur', function() {
          reset();
          if (input.value.trim()) {
            if (phoneInput.isValidNumber()) {
              validMsg.classList.remove("hide");
            } else {
              input.classList.add("error");
              let errorCode = phoneInput.getValidationError();
              errorMsg.innerHTML = errorMap[errorCode];
              errorMsg.classList.remove("hide");
            }
          }
        });
        
        // on keyup / change flag: reset
        input.addEventListener('change', reset);
        input.addEventListener('keyup', reset);
    </script>
</body>
</html>